.text-box {
    .subtitle {
        font-weight: $font-medium;
        text-transform: capitalize;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 15px;
        background-color: $color-white;
        border: 1px solid $color-border;
        line-height: 26px;
        border-radius: $border-radius-sm;
        padding: 0 14px;
    }
    .title {
        font-family: $font-title;
		color: $color-black;
        font-size: 30px;
        font-weight: $font-semibold;
        line-height: 36px;
        margin-bottom: 10px;
        text-transform: capitalize;
        @include media-only ("sm", min) {
            font-size: 36px;
            line-height: 40px;
        }
    }
    p {
        margin-bottom: 25px;
        text-transform: capitalize;
    }
}

.about-list {
    li {
        margin-bottom: 30px;
        .list {
            .item-icon {
                height: 80px;
                width: 80px;
                background-color: #F6EED2;
                border-radius: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease-in-out;
                &.active {
                    background-color: $color-primary;
                }
            }
            .content {
                flex: 1;
                .title {
                    font-size: 19px;
                    font-weight: $font-semibold;
                    margin-bottom: 0;
                }
            }
        }
    }
}









