
/**
 * Components: Blog.
 */
.rt-blog-wrap {
    background-color: $color-secondary-100;
}
.rt-blog-box {
    &:hover {
        .item-img {
            a {
                img {
                    transform: translateY(10px) scale(1.1);
                }
            }
        }
    }
    .item-img {
        border-radius: 15px 15px 0 0;
        a {
            @include media-only ("lg", max) {
                width: 100%;
            }
            img {
                border-radius: 15px 15px 0 0;
                transition: all .3s ease-out 0s;
                width: 100%;
                
            }
        }
    }
    .item-content {
        padding: 22px 22px 30px 28px;
        background-color: $color-white;
        border-radius: 0 0 15px 15px;
    }
    .rt-title {
        font-size: 20px;
        font-weight: $font-semibold;
        line-height: 26px;
        text-transform: capitalize;
        margin-bottom: 15px;
        a {
            color: $color-black;
            transition: all .3s ease-in-out;
            &:hover {
                color: $color-primary;
            }
        }
    }
}
.rt-tag {
    .tag {
        color: $color-secondary;
        font-size: 14px;
        font-weight: $font-medium;
        background-color: $color-primary;
        border-radius: $border-radius-xs;
        display: inline-block;
        padding: 8px 12px;
        transition: all .3s ease-in-out;
        font-family: $font-title;
        line-height: 1;
        text-transform: capitalize;
        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }
    }
}
.entry-meta-list {
    gap: 15px;
    @include media-only ("321px", min) {
        gap: 27px;
    }
    a {
        i {
            margin-right: 5px;
            position: relative;
            top: 1px;
            &::before {
                color: $color-primary;
                transition: all .3s ease-in-out;
            }
        }
        color: $color-body;
        transition: all .3s ease-in-out;
        font-size: 15px;
        font-family: $font-title;
        &:hover {
            color: $color-secondary;
            i {
                &::before {
                    color: $color-body;
                }
            }
        }
    }
}

//.......Blog Details..........//


.blog-top-area {
    .item-img {
        margin-bottom: 30px;
        img {
            border-radius: $border-radius-md;
        }
    }
    .entry-meta-list {
        margin-bottom: 15px;
        gap: 30px;
        li {
            position: relative;
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &::after {
                content: "";
                height: 16px;
                width: 1px;
                background-color: #999999;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(16deg);
                right: -15px;
            }
            a {
                color: #999999;
                i {
                    margin-right: 5px;
                    position: relative;
                    top: -1px;
                }
                span {
                    font-weight: $font-medium;
                    color: $color-black;
                }
            }
        }
    }
    .title {
        font-size: 30px;
        line-height: 38px;
        font-weight: $font-semibold;
        margin-bottom: 20px;
        color: $color-primary;
        @include media-only ("sm", min) {
            font-size: 36px;
            line-height: 40px;
        }
    }
}

.desc-1 {
    text-transform: capitalize;
    line-height: 26px;
    margin-bottom: 40px;
    font-family: $font-title;
}
.desc-3 {
    margin-bottom: 40px;
    font-family: $font-body;
    color: $color-border;
}

.blog-quote-wrap {
    padding: 30px;
    position: relative;
    margin-bottom: 35px;
    background-color: $color-secondary-100;
    @include media-only ("sm", min) {
        padding: 40px 50px;
    }
    @include media-only ("lg", min) {
        margin-left: 60px;
        padding: 38px 110px 30px 43px;
    }
    &::before {
        content: "";
        height: 100%;
        width: 8px;
        background-color: $color-secondary;
        position: absolute;
        top: 0;
        left: 0;
    }
    .rt-quote {
        font-size: 18px;
        font-weight: $font-medium;
        line-height: 30px;
        position: relative;
        z-index: 1;
        border-bottom: 0;
        padding-bottom: 0;
        font-family: $font-title;
        color: #000;
        @include media-only ("lg", min) {
            font-size: 20px;
        }
    }
    .shape {
        right: 20px;
        bottom: 25px;
    }
}

.blog-post-about-box {
    margin-bottom: 25px;
    .title {
        font-size: 24px;
        font-weight: $font-bold;
        line-height: 34px;
        font-family: $font-body;
        color: $color-black;
        @include media-only ("lg", min) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    .post-img {
        width: 100%;
        img {
            border-radius: 15px;
            width: 100%;
        }
    }
    .rt-feature-list {
        margin-bottom: 14px;
        li {
            .icon {
                height: 22px;
                width: 22px;
                i {
                    &::before {
                        font-size: 10px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
            .text {
                color: $color-black;
                font-weight: $font-medium;
            }
        }
    }
}

.social-tag-wrap {
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    padding: 20px 0;
    margin-bottom: 50px;
    .tag-btn {
        ul {
            gap: 15px;
            flex-wrap: wrap;
            @include media-only ("xs", min) {
                flex-wrap: nowrap;
            } 
            li {
                a {
                    padding: 8px 15px;
                    border-radius: $border-radius-xs;
                    display: inline-block;
                    transition: all .3s ease-in-out;
                    font-size: 14px;
                    line-height: 28px;
                    font-family: $font-title;
                    background-color: $color-secondary-100;
                    color: $color-secondary;
                    &:hover {
                        background-color: $color-primary;
                        border-color: $color-primary;
                        color: $color-white;
                    }
                }
                &.text {
                    font-weight: $font-medium;
                    color: $color-primary;
                    font-family: $font-title;
                }
            }
        }
    }
    .rt-social {
        .text {
            font-weight: $font-medium;
            color: $color-primary;
            font-family: $font-title; 
        }
    }
}

.blog-author-comment-wrap {
    background-color: $color-secondary-100;
    border-radius: $border-radius-md;
    padding: 30px;
    margin-bottom: 40px;
    border: 1px solid $color-secondary;
    @include media-only ("lg", min) {
        padding: 40px 40px 40px 50px;
    }
    .content {
        @include media-only ("xs", min) {
            flex: 1;
            margin-left: 30px;
        }
        .sub-title {
            font-family: $font-title;
            color: $color-secondary;
            font-size: 15px;
            font-weight: $font-medium;
        }
        .title {
            color: $color-primary;
            font-size: 20px;
            line-height: 28px;
            font-weight: $font-semibold;
        }
        .desc {
            line-height: 28px;
            color: $color-border;
            font-family: $font-title;
        }
    }
}

.single-comment-post {
    margin-bottom: 50px;
    .post-date {
        margin-top: 15px;
        font-family: $font-title;
        @include media-only ("xs", min) {
            top: 0;
            right: 0;
            position: absolute;
            margin-top: 0;
        }
    }
    .title {
        font-size: 24px;
        color: $color-black;
        margin-bottom: 40px;
    }
    .comment-post {
        gap: 27px;
        border-bottom: 1px solid #EAEFFF;
        padding-bottom: 30px;
        margin-bottom: 30px;
        .content {
            flex: 1;
            .sm-title {
                font-size: 20px;
                color: $color-secondary;
                font-weight: $font-medium;
            }
            p {
                
                font-family: $font-title;
            }
            .replay-btn {
                display: inline-block;
                align-items: center;
                justify-content: center;
                background-color: $color-secondary-100;
                color: $color-body;
                font-size: 14px;
                font-weight: $font-medium;
                font-family: $font-title;
                padding: 6px 16px;
                border-radius: 6px;
                line-height: 20px;
                text-align: center;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: $color-secondary;
                }
                i {
                    margin-left: 5px;
                    &::before {
                        color: $color-primary;
                        font-size: 16px;
                    }
                }
            }
        }
        &:nth-child(odd) {
            padding-left: 25px;
            @include media-only ("xs", min) {
                padding-left: 45px;
            }
        }
    }
}

.single-blog-bottom {
    border-radius: $border-radius-lg;
    background-color: $color-white;
}

