.rt-service-wrap {
    background-color: $color-secondary-100;
    z-index: 1;
    .section-heading {
        @include media-only ("lg", min) {
            width: 576px;
        }
    }
}

.rt-service-box {
    border-radius: 50px;
    background-color: $color-white;
    padding: 35px 30px;
    @include media-only ("lg", min) {
        padding: 60px 30px 50px;
    }
    .info-box {
        .item-icon {
            height: 90px;
            width: 90px;
            background-color: $color-primary;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius-xl;
        }
        .content {
            position: relative;
            .title {
                font-size: 20px;
                font-weight: $font-semibold;
                a {
                    transition: all .4s ease-in-out;
                }
            }
        }
    }
}





//.........Service Elements......//

.rt-feature-service-wrap {
    @include media-only ("lg", min) {
        padding-top: 130px;
    }
}
.rt-service-layout {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    @include media-only ("lg", min) {
        margin-bottom: 85px;
    }
}
.service-img-box {
    position: absolute;
    z-index: -1;
    right: 0;
    img {
        border-radius: 10px;
    }
}

//..........Service Details..........//

.rt-service-details-heading {
    .item-img {
        margin-bottom: 30px;
        img {
            border-radius: 15px;
        }
    }
    .section-heading {
        .heading-title {
            margin-bottom: 15px;
            @include media-only ("sm", min) {
                line-height: 60px;
            }
        }
    }
}

.rt-service-details-action {
    .section-heading {
        .heading-title {
            line-height: 55px;
            margin-bottom: 5px;
            font-size: 36px;
        }
    }
    .rt-feature-list {
        li {
            font-size: 17px;
            font-weight: $font-semibold;
            color: $color-body;
            .rt-shape {
                background-color: $color-secondary;
                svg {
                    color: $color-white;
                }
            }
        }
    }
}
.service-details-about-img {
    .title {
        font-weight: $font-extra-bold;
        font-size: 24px;
    }
    .item-img {
        img {
            border-radius: 15px;
            @include media-only ("sm", max) {
                width: 100%;
            }
        }
    }
}


.service-faq {
    .title {
        font-size: 36px;
        font-weight: $font-bold;
        line-height: 46px;
        text-transform: capitalize;
        @include media-only ("sm", min) {
            line-height: 55px;
        }
    }
}










