.rt-breadcrumb-wrap {
    padding: 80px 0;
    @include media-only ("md", min) {
        padding: 145px 0 55px;
    }
    background-color: #FCFAF4;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../../media/bg/searchbox.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: bottom;
        z-index: -1;
        background-size: contain;
    }
}



.breadcrumb {
    z-index: 1;
    position: relative;
    .breadcrumb-item {
        position: relative;
        font-family: $font-title;
        &:last-child {
            &::after {
                display: none;
            }
        }
        &::after {
            content: "\e820";
            font-family: "rt-equipment";
            font-size: 11px;
            font-weight: $font-semibold;
            color: $color-font;
            padding: 0 10px;
        }
        a {
            transition: all .3s ease-in-out;
            color: $color-font;
            font-family: $font-title;
            &:hover {
                color: $color-primary;
            }
        }
        &.active {
            color: $color-primary;
        }
    }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}

.breadcrumb-title {
    font-size: 36px;
    font-weight: $font-semibold;
    text-transform: capitalize;
    color: $color-black;
    z-index: 1;
    margin-bottom: 10px;
    @include media-only ("sm", min) {
        font-size: 40px;
        line-height: 60px;
    }
}