.rt-categories-wrap {
    padding: 100px 0;
    z-index: 1;
    @include media-only ("md", min) {
        padding: 172px 0 115px 0;
    }
    background-color: $color-secondary-100;
    z-index: 1;
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        background-image: url(../../media/bg/searchbox.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: bottom;
        z-index: -1;
        background-size: contain;
        display: none;
        @include media-only ("1441px", min) {
            display: block;
        }
    }
    &.style-2 {
        padding: 80px 0;
        @include media-only ("md", min) {
            padding: 100px 0;
        }
        @include media-only ("lg", min) {
            padding-top: 183px;
            padding-bottom: 120px;
        }
        &::after {
            background-image: url(../../media/bg/bg.png);
            top: -124px;
            bottom: auto;
            background-position: top;
            z-index: -1;
        }
    }
}


.rt-categories-slider {
    @include media-only ("lg", min) {
        position: static;
        margin: 0 55px;
    }
}

.rt-categories-box {
    &:hover {
        .item-icon {
            &::before {
                transform: scale(1);
            }
            img {
                animation: bounce 1.5s;
            }
        }
    }
    .item-icon {
        height: 130px;
        width: 130px;
        border-radius: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        border: 1px solid #E6E4DC;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
        margin-bottom: 16px;
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            z-index: 9;
            height: 130px;
            width: 130px;
            border: 1px solid $color-primary;
            top: 0;
            transform: scale(0);
            transition: .4s;
            content: "";
            border-radius: 100%;
        }
    }
    .content {
        .sm-title {
            font-size: 15px;
            font-weight: $font-medium;
            a {
                color: $color-secondary;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .counting-categories {
            font-size: 14px;
            font-weight: $font-medium;
            color: $color-font;
        }
    }
}
