.rt-social {
    ul {
        gap: 13px;
        li {
            a {
                i {
                    &::before {
                        color: $color-body;
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover {
                    i {
                        &::before {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

.rt-social-box {
    margin-top: 15px;
    @include media-only ("480px", min) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        margin-top: 0;
    }
    ul {
        li {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                height: 36px;
                width: 36px;
                border-radius: 100%;
                background-color: transparent;
                border: 1px solid #DCDCDC;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease-in-out;
                i {
                    position: relative;
                    top: 1px;
                    &::before {
                        color: $color-body;
                        transition: all .3s ease-in-out;
                    }
                }
                &:hover {
                    background-color: $color-primary;
                    border-color: $color-primary;
                    i {
                        &::before {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    &.style-2 {
        position: unset;
        margin-top: 0;
        transform: translateY(0);
        ul {
            gap: 8px;
            li {
                margin-bottom: 0;
            }
        }
    }
    &.style-3 {
        ul {
            li {
                a {
                    border-radius: $border-radius-sm;
                    background-color: transparent;
                    i {
                        &::before {
                            color: $color-secondary;
                        }
                    }
                    &:hover {
                        background-color: $color-primary;
                    }
                }
            }
        }
    }
}

