.listing-sidebar {
    border: 1px solid #E5E5E5;
    border-radius: $border-radius-md;
    padding: 30px;
}

.rt-distance-filter-area {
    .noUi-target {
        border-radius: 50px;
        box-shadow: none;
        background-color: #EEEEEE;
        border: 0;
        height: 5px;
        .noUi-base {
            .noUi-origin {
                .noUi-handle {
                    top: -6px;
                    left: -1px;
                    background-color: $color-primary;
                    border: 2px solid #fff;
                    box-shadow: none;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    &::after {
                        display: none;
                    }
                    &:before {
                        display: none;
                    }
                }
            }
            .noUi-connect {
                background-color: $color-primary;
                border-radius: 50px;
                box-shadow: none;
            }
        }
    }

    .distance-range-select {
        margin-top: 17px;
        gap: 5px;
        .distance-range {
           font-family: $font-title;
           font-weight: $font-medium;
           font-size: 14px;
           color: $color-body;
        }
    }
}
.sidebar-price {
    .form-control {
        height: 40px;
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}

.sidebar-select {
    .select2-selection__arrow {
        height: 20px;
        
        &::after {
            border-bottom: 2px solid #969696;
            border-right: 2px solid #969696;
            right: 18px;
            top: 45px;
        }
        b {
            display: none;
        }
    }
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        font-family: $font-title;
        font-size: 14px;
        background-color: $color-white;
        color: #999999;
        border: 1px solid #E0E3E7;
        border-radius: $border-radius-xs;
        height: 43px;
        width: 100%;
        display: inline-block;
        line-height: 40px;
        padding: 0 15px;
    }
    .select2-selection.select2-selection--single {
        padding-left: 0;
    }
}


.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
