.rt-about-wrap {
    .text-box {
        .about-list {
            li {
                .list {
                    &:hover {
                        .item-icon {
                            background-color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}



//..........About Element.......//
.rt-about-img {
    img {
        border-radius: $border-radius-xl;
        @include media-only ("lg", max) {
            width: 100%;
        }
    }
    &.md-img {
        z-index: 1;
        .dot-shape {
            bottom: -30px;
            left: -60px;
            z-index: -1;
            .dots {
                border-radius: 0;
            }
            &.style-2 {
                left: 0;
            }
        }
    }
}

.about-shape-wrap {
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 2;
}

.about-shape-box {
    background-color: $color-white;
    border: 1px solid #000000;
    box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 227px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    padding: 0 26px;
    .counting {
        font-size: 36px;
        font-weight: $font-extra-bold;
        color: $color-secondary;
    }
    .text {
        font-size: 14px;
        line-height: 18px;
        font-weight: $font-medium;
        text-transform: capitalize;
        color: $color-secondary;
    }
}

.about-feature-list {
    gap: 40px;
}












