.rt-listing-wrap {
    .section-heading {
        .subtitle {
            background-color: $color-gray;
        }
    }
    &.style-2 {
        @include media-only ("lg", min) {
           margin-bottom: 20px;
        }
    }
    &.style-3 {
        .section-heading {
            margin-bottom: 30px;
        }
    }
}


.rt-listing-box {
   border: 1px solid #E3E3E3;
   border-radius: 10px;
    &:hover {
        .item-img {
            a {
                img {
                    transform: translateY(10px) scale(1.1);
                }
            }
        }
    }
    .item-img {
        border-radius: 10px 10px 0 0;
        > a {
            border-radius: 10px 10px 0 0;
            position: relative;
            @include media-only ("lg", max) {
                width: 100%;
            }
            img {
                border-radius: 10px 10px 0 0;
                transition: all .3s ease-out 0s;
                @include media-only ("lg", max) {
                    width: 100%;
                }
            }
        }
        .favourite-button {
            top: 15px;
            right: 15px;
            transition: all .3s ease-in-out;
            i {
                &::before {
                    transition: all .3s ease-in-out;
                    font-size: 15px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .content {
        background-color: $color-white;
        border-radius: 0 0 10px 10px;
        padding: 33px 24px 24px 24px;
    }
    &.style-2 {
        .item-img {
            border-radius: 10px 0 0 10px;
            a {
                border-radius: 10px 0 0 10px;
                img {
                    border-radius: 10px 0 0 10px;
                }
            }
        }
        .content {
            padding: 20px 60px 0 0;
            flex: 1;
            .favourite-button {
                right: 15px;
            }
        }
    }
    &.style-3 {
        .content {
            .favourite-button {
                right: 24px;
                top: auto;
                bottom: 24px;
                .favourite-btn {
                    background-color: $color-gray;
                    border-color: $color-gray;
                    &:hover {
                        background-color: $color-primary;
                        border-color: $color-primary;
                    }
                }
            }
        }
    }
    &.style-4 {
        .content {
            padding: 25px 60px 0 0;
            .title {
                margin-bottom: 20px;
            } 
        }
    }
}

.rt-listing-slider {
    @include media-only ("lg", min) {
        position: static;
    }
    .swiper-button-next {
        right: -60px;
    }
    .swiper-button-prev {
        left: -60px;
    }
}



//........listing Elements.......//
.listing-action-bar {
    border: 1px solid #E3E3E3;
    border-radius: $border-radius-sm;
    padding: 10px 12px 10px 20px;
    margin-bottom: 20px;
}
.result-action {
    margin-bottom: 10px;
    @include media-only ("480px", min) {
        margin-bottom: 0;
    }
    .text {
        font-size: 15px;
        font-family: $font-title;
    }
}
.product-sorting {
    gap: 30px;
}

.search-filter-form2 {
    .text {
        font-size: 14px;
        font-family: $font-title;
        display: inline-block;
        margin-right: 7px;
    }
    .select2-selection__arrow {
        height: 20px;
        
        &::after {
            border-bottom: 2px solid #4b4b4b;
            border-right: 2px solid #4b4b4b;
            right: -15px;
            top: 45px;
        }
        b {
            display: none;
        }
    }
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
        font-family: $font-title;
        font-size: 14px;
        font-weight: $font-medium;
        background-color: $color-white;
        color: #111;
        border: 0;
        border-radius: $border-radius-xs;
        height: 40px;
        width: 100%;
        display: inline-block;
        line-height: 40px;
        padding: 0;
    }
    .select2-selection.select2-selection--single {
        padding-left: 0;
    }
}

.layout-switcher {
    ul {
        gap: 8px;
        li {
            .product-view-trigger{
                height: 38px;
                width: 38px;
                border-radius: 5px;
                border: 1px solid #E0E3E7;
                background-color: #F6F6F6;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                i {
                    &::before {
                        color: $color-body;
                    }
                }
            }
            &.active {
                .product-view-trigger {
                    background-color: $color-body;
                    i {
                        &::before {
                            color: $color-white;
                        }
                    }
                } 
            }
        }
    }
}


.product-box-list .product-grid-view {
    display: none;
}

.product-box-list .row > [class^="col-"] {
    max-width: 100% !important;
    flex: 100%;
}
.product-box-grid .product-list-view {
    display: none;
}

//........listing Details.......//
.rt-listing-details-wrap {
    @include media-only ("lg", min) {
        padding: 60px 0;
    }
}
.rt-listing-details-top {
    margin-bottom: 20px;
    .title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .entry-meta-list {
        li {
            &:last-child {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
            a {
                position: relative;
                &::after {
                    content: "";
                    height: 15px;
                    width: 100%;
                    border-right: 1.5px solid #b6b6b6;
                    position: absolute;
                    top: 5px;
                    right: -14px;
                }
                i {
                    &::before {
                        color: $color-body;
                    }
                }
                color: $color-body;
                &:hover {
                    color: $color-primary;
                    i {
                        &::before {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}
.listing-details-img {
    margin-bottom: 30px;
    img {
        border-radius: $border-radius-lg;
    }
}
.listing-dtl-box {
    background-color: $color-white;
    border: 1px solid $color-border;
    padding: 23px 30px;
    border-radius: $border-radius-md;
    margin-bottom: 30px;
    .title {
        font-size: 24px;
        font-weight: $font-semibold;
        line-height: 26px;
        margin-bottom: 10px;
        color: $color-secondary;
        span {
            color: #576982;
        }
    }
}
//........listing Overview.......//
.rt-overview {
    p {
        color: $color-font;
    }
}
//........listing Education.......//
.rt-dtl-features-list {
    li {
        position: relative;
        font-family: $font-title;
        color: $color-font;
        line-height: 26px;
        padding-left: 20px;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        &::after {
            content: "";
            height: 5px;
            width: 5px;
            border-radius: 100%;
            background-color: $color-font;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
.rt-gap {
    padding-bottom: 30px;
    .title {
        margin-bottom: 20px;
    }
}
//........listing Expert.......//
.expert-list {
    gap: 6px;
    li {
        a {
            font-family: $font-title;
            color: $color-border;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $color-border;
            background-color: #FAF4E8;
            border-radius: $border-radius-sm;
            padding: 10px 18px;
            font-size: 15px;
            transition: all .3s ease-in-out;
            &:hover {
                background-color: $color-secondary;
                color: $color-white;
            }
        }
    }
}
//........listing specification.......//

.rt-specification-list {
    li {
        background-color: #F4F4F4;
        padding: 10px 20px;
        // margin-bottom: 10px;
        &:nth-child(even) {
            background-color: $color-white;
        }
        .text {
            font-weight: $font-medium;
        }
        .element {
            color: $color-font;
            margin-left: 12px;
        }
    }
}






